<html>
<head>
    <meta charset="utf-8">
    <title>Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<body>
    <form method="POST" >
        <div class="card shadow " style="margin-top: 7%; margin: 7% 20%;">
            <h5 class="card-header">
                Update Product
            </h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="ProId">Product ID:</label>
                    <input type="text" class="form-control" id="ProId" name="ProId" value="<%= product[0].ProId %>" readonly>
                </div>
                <div class="form-group">
                    <label for="ProName">Product Name:</label>
                    <input type="text" class="form-control" id="ProName" autofocus name="ProName" value="<%= product[0].ProName %>" required>
                </div>
                <div class="form-group">
                    <label for="ProAuthor">Author Name:</label>
                    <input type="text" class="form-control" id="ProAuthor" name="ProAuthor" value="<%= product[0].ProAuthor %>">
                </div>
                <div class="form-group">
                    <label for="ProDescription">Description:</label>
                    <textarea rows="3" type="text" class="form-control" id="ProDescription" name="ProDescription"><%= product[0].ProDescription %></textarea>
                </div>
                <div class="form-group">
                    <label for="ProCurrentPrice">Current Price (VND):</label>
                    <input type="number" class="form-control" id="ProCurrentPrice" name="ProCurrentPrice" min="0" value="<%= product[0].ProCurrentPrice %>" required>
                </div>
                <div class="form-group">
                    <label for="ProImg">Image Link:</label>
                    <input type="text" class="form-control" id="ProImg" name="ProImg" value="<%= product[0].ProImg %>" required>
                </div>
                <div class="form-group">
                    <label for="PublishedDate">Published Date:</label>
                    <input type="text" class="form-control" id="PublishedDate" value="<%= product[0].PublishedDate %>" name="PublishedDate">
                </div>
                <div class="form-group">
                    <label for="ProAmount">Amount:</label>
                    <input type="number" class="form-control" id="ProAmount" name="ProAmount" min="0" value="<%= product[0].ProAmount %>" required>
                </div>
                <div class="form-group">
                    <label for="Sold">Sold:</label>
                    <input type="number" class="form-control" id="Sold" name="Sold" value="<%= product[0].Sold %>" readonly>
                </div>

                <a href="/product" class="btn btn-primary">
                    <i class="fas fa-backward"></i>
                    List
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check-square"></i>
                    Update
                </button>
            </div>
            
        </div>
    </form>
    <script>
        $(function () {
            $("#PublishedDate").datetimepicker({
                format: 'd/m/Y',
                timepicker: true,
                mark: true
            })
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>